<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- Phần khai báo css --}}
    {{{signupCss}}}
    {{{fontawesome5121}}}
    {{{fontawesome470}}}
    {{{bootstrap400}}}
    {{{bootstrap431}}}
    {{{loginCss}}}
    {{{style}}}
    {{{_sections.css}}}
    {{{uploadBook}}}
</head>

<body>
    {{#if hasNavbar}}
    <nav class="navbar navbar-expand-lg header">
        <div class="header--logo">
            {{!-- <img src="/img/logo.png" alt="logo" class="logo"> --}}
            <a class="navbar-brand brand" href="/"><img src="/img/logo.png" alt="logo" class="logo"> SUNSHINE</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse--form">
                <form class="form-inline my-2 my-lg-0">
                    <input class="mr-sm-2 input__search" type="search" placeholder="Search" aria-label="Search">
                    {{!-- <button class="btn btn-outline-success my-2 my-sm-0 button__search" type="submit">Search</button> --}}
                    <button class="btn btn__search" type="submit">Search</button>
                </form>
            </div>
            <div class="collapse--cart">
                <a rel="stylesheet" href="#" class="btn-header cart">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
                <a rel="stylesheet" href="/login" class="btn-header login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Login
                </a>
                <a rel="stylesheet" href="/signup" class="btn-header signup">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Sign Up
                </a>
            </div>
        </div>
    </nav>
    {{/if}}
    <div class="container-fluid content">
        {{{body}}}
    </div>

    {{!-- Phần khai báo Javascript --}}
    {{{popper1129Js}}}
    {{{bootstrap400Js}}}
    {{{popper1147Js}}}
    {{{bootstrap431Js}}}
    {{{sweetalert2Js}}}
    {{{promisePolyfillJs}}}
    {{{numeralJs}}}
    {{{tinymceJs}}}
    {{{signupJs}}}
    {{{loginJs}}}
    {{{_sections.js}}}
    {{{uploadBookJs}}}
</body>

</html>