<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    {{!-- Phần khai báo css --}}
    {{{signupCss}}}
    {{{fontawesome5121}}}
    {{{fontawesome470}}}
    {{{bootstrap400}}}
    {{{bootstrap431}}}
    {{{loginCss}}}
</head>

<body>
    {{{body}}}

    {{!-- Phần khai báo Javascript --}}
    {{{popper1129Js}}}
    {{{bootstrap400Js}}}
    {{{popper1147Js}}}
    {{{bootstrap431Js}}}
    {{{sweetalert2Js}}}
    {{{promisePolyfillJs}}}
    {{{numeralJs}}}
    {{{tinymceJs}}}
    {{{signupJs}}}
    {{{loginJs}}}
</body>

</html>