<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>{{title}}</title>
    {{!-- Phần khai báo css --}}
    {{{signupCss}}}
    {{{fontawesome5121}}}
    {{{fontawesome470}}}
    {{{bootstrap400}}}
    {{{bootstrap431}}}
    {{{loginCss}}}
    {{{maincss}}}
    {{{homecss}}}

    {{{style}}}
    {{{_sections.css}}}
    {{{uploadBookCss}}}
</head>

<body>
    {{#if hasNavbar}}
    <nav class="navbar navbar-expand-lg header">
        <div class="header--logo">
            {{!-- <img src="/img/logo.png" alt="logo" class="logo"> --}}
            <a class="navbar-brand brand" href="/"><img src="../image/main/logo.png" alt="logo" class="logo"> SUNSHINE</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse--form">
                <form class="form-inline my-2 my-lg-0">
                    <input class="mr-sm-2 input__search" type="search" placeholder="Search" aria-label="Search">
                    {{!-- <button class="btn btn-outline-success my-2 my-sm-0 button__search" type="submit">Search</button> --}}
                    <button class="btn btn__search" type="submit">Search</button>
                </form>
            </div>
            <div class="collapse--cart">
                <a rel="stylesheet" href="#" class="btn-header cart">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
                <a rel="stylesheet" href="/login" class="btn-header login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Login
                </a>
                <a rel="stylesheet" href="/signup" class="btn-header signup">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Sign Up 
                </a>
            </div>
        </div>
    </nav>
    {{/if}}
    
        <div class="container-fluid content">
            {{{body}}}
        </div>
    {{#if hasFooter}}
    <footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Sunshine</h1>
        
    <h2>Contact</h2>
    
    <address>
      5534 Somewhere In. The World 22193-10212<br>
          
      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>
            
        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>
        
        <li>
          <a href="#">Software Design</a>
        </li>
        
        <li>
          <a href="#">Digital Signage</a>
        </li>
        
        <li>
          <a href="#">Automation</a>
        </li>
        
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        
        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2019 Something. All rights reserved.</p>
    
    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
    </div>
  </div>
    </footer>
    {{/if}}
    
    

    {{!-- Phần khai báo Javascript --}}
    {{{popper1129Js}}}
    {{{bootstrap400Js}}}
    {{{popper1147Js}}}
    {{{bootstrap431Js}}}
    {{{sweetalert2Js}}}
    {{{promisePolyfillJs}}}
    {{{numeralJs}}}
    {{{tinymceJs}}}
    {{{signupJs}}}
    {{{loginJs}}}
    {{{homejs}}}
    {{{_sections.js}}}
    {{{uploadBookJs}}}
</body>

</html>