<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/css/style.css">
    
    <title>{{title}}</title>
    
    {{!-- Phần khai báo css --}}
    {{{signupCss}}}
    {{{fontawesome5121}}}
    {{{fontawesome470}}}
    {{{bootstrap400}}}
    {{{bootstrap431}}}
    {{{loginCss}}}

    {{{_sections.css}}}
</head>

<body>
        <nav class="navbar navbar-expand-lg header">
            <div class="header--logo">
                    {{!-- <img src="/img/logo.png" alt="logo" class="logo"> --}}
                    <a class="navbar-brand brand" href="/"><img src="/img/logo.png" alt="logo" class="logo"> SUNSHINE</a>
            </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse--form">
                <form class="form-inline my-2 my-lg-0">
                <input class="mr-sm-2 input__search" type="search" placeholder="Search" aria-label="Search">
                {{!-- <button class="btn btn-outline-success my-2 my-sm-0 button__search" type="submit">Search</button> --}}
                <button class="btn btn__search" type="submit">Search</button>
            </form>
            </div>
            <div class="collapse--cart">
                <a rel="stylesheet" href="#" class="btn-header cart">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
                <a rel="stylesheet" href="#" class="btn-header login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Login
                </a>
                <a rel="stylesheet" href="#" class="btn-header signup">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Sign Up
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid content">
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script
        src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
    
    {{!-- Phần khai báo Javascript --}}
    {{{popper1129Js}}}
    {{{bootstrap400Js}}}
    {{{popper1147Js}}}
    {{{bootstrap431Js}}}
    {{{sweetalert2Js}}}
    {{{promisePolyfillJs}}}
    {{{numeralJs}}}
    {{{tinymceJs}}}
    {{{signupJs}}}
    {{{loginJs}}}
    {{{_sections.js}}}
</body>

</html>