<div class="mytitle">
    <h2>Sản phẩm {{namelist}}</h2>
    <hr>
</div>
{{#if this.empty}}
<div class="card-body">
    <p class="card-text">
        Chưa có dữ liệu.
    </p>
</div>
{{else}}
<div class="mygroupcard row">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="row">
                {{#each this.products}}
                <div class="col-sm-4 mb-3">
                    <div class="card h-100" onclick="detailItem()">
                        <div class="card-body">
                            <img src="../../image/sp/{{masp}}/main.jpg" class="card-img-top image__product--main"
                                alt="...">
                            <h5 class="card-title mb-4">{{tensp}}</h5>
                            <p class="card-text text-center">
                                {{format giatien}} đ</p>
                            <p class="card-text"></p>
                            <p class="card-text">
                            <h5 class="text-info" id='{{masp}}'>
                            </h5>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-sm btn-outline-primary" href="/products/{{masp}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                            {{!-- <form action="/products/addcart/{{masp}}" method="post">
                            <input type="text" value="1" style="display: none;">
                                <button type="submit" class="btn btn-sm btn-outline-success"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart</button>
                            </form> --}}
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
            <div class="row mt-4">
                <div class="col-sm-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="?page={{prev_value}}">
                                    <i class="fa fa-backward" aria-hidden="true"></i> Previous
                                </a>
                            </li>

                            {{#each this.page_numbers}}

                            {{#if isCurrentPage}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">{{value}}<span
                                        class="sr-only">(current)</span></a>
                            </li>
                            {{else}}
                            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                            {{/if}}

                            {{/each}}

                            <li class="page-item">
                                <a class="page-link" href="?page={{next_value}}">
                                    <i class="fa fa-forward" aria-hidden="true"></i> Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{{/if}}