{{#if isEmptyCart}}
<div class="alert-danger alert">Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại</div>
{{/if}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="container-cart">
                <div class="child-container-cart">
                    <h5 class="cart-title">Giỏ hàng</h5>
                    {{#if isEmptyCart}}
                    <div class="emptyCart text-center">
                        <img src="../image/cart/emptyCart.PNG">
                    </div>
                    <button class="btn-yellow" onclick="goBack();">Tiếp tục chọn</button>
                    {{else}}
                    <div id="cart">
                        {{#each cartInfoArr}}
                        <div class="items-cart"  id={{this.masp}}>
                            <span class="book-name">{{this.tensp}}</span>
                            <div>
                                <span>{{this.giatien}} đ</span>
                                <span>Số lượng: {{this.soluong}}</span>
                                <span onclick="deleteClick(bookId)"><i class="far fa-trash-alt trash-icon"> Xóa</i></span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("content").style.backgroundColor = "white";
</script>
<script type="text/javascript" src="../js/cart.js"></script>