{{#if isEmptyCart}}
<div class="alert-danger alert">Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại</div>
{{/if}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <div class="container-cart">
                <div class="child-container-cart">
                    <h5 class="cart-title">Giỏ hàng</h5>
                    {{#if isEmptyCart}}
                    <div class="emptyCart text-center">
                        <img src="../image/cart/emptyCart.PNG">
                    </div>
                    <button class="btn-yellow" onclick="goBack();">Tiếp tục chọn</button>
                    {{else}}
                    <div id="cart">
                        {{#each cartInfoArr}}
                        <div class="items-cart" id={{this.masp}}>
                            <img src="../image/sp/{{this.masp}}/main.jpg">
                            <span class="book-name">
                                <label class="title">
                                    Tên sách
                                </label>
                                <br>
                                <label>
                                    {{this.tensp}}
                                </label>
                            </span>
                            <span>
                                <label class="title">
                                    Giá tiền
                                </label>
                                <br>
                                <label>
                                    {{this.giatien}} đ
                                </label>
                            </span>
                            <span>
                                <label class="title">Số lượng </label>
                                <br>
                                <label>{{this.soluong}}</label>
                            </span>
                            <span onclick="deleteClick(bookId)" style="margin-right: 50px;">
                                    <i class="fa fa-trash-o trash-icon" aria-hidden="true">
                                        Xóa</i>
                            </span>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("content").style.backgroundColor = "white";
</script>
<script type="text/javascript" src="../js/cart.js"></script>