<div class="row">
  <div class="col-sm-3 content--category">
    <div class="card shadow" style="width: 25rem;">
      <div class="card-header">
        Category
      </div>
      <ul class="list-group list-group-flush">
        {{#each lcCategories}}
        <a href="/categories/{{madanhmuc}}"
                class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                {{tendanhmuc}}</a>
                {{!-- <li class="list-group-item"></li> --}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-sm-7" style="margin-left: 25px;">
    <div class="row content--slider">
        <img src="../image/home/book-hor-1.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-2.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-3.jpg" class="image-slider" alt="slider">
        <img src="../image/home/book-hor-4.jpg" class="image-slider" alt="slider">

        <button class="btn btn--left btn--black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="btn btn--right btn--black" onclick="plusDivs(1)">&#10095;</button>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>

<div class="row container-fluid topProducts">
  <div class="myTittle">
    <h3>Top 5 sản phẩm gần đây nhất</h3>
    <hr>
  </div>
    <div class="mygroupcard card-deck">
     {{#each topTimeEnd}}
     <div class="col-sm-2 mb-3">
                    <div class="card h-100" onclick="detailItem()">
                        <div class="card-body">
                            <img src="../image/01/book-hor-11.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title mb-4">{{ProName}}</h5>
                            <p class="card-text text-center">
                                {{format Price}} đ</p>
                            <p class="card-text"></p>
                            <p class="card-text">
                                <h5 class="text-info" id='{{ProID}}'>
                                </h5>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-sm btn-outline-primary" href="/products/{{masp}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
    {{/each}}
  </div>

  <div class="myTittle">
    <h3>Top 5 sản phẩm gần đây nhất</h3>
    <hr>
  </div>
  <div class="mygroupcard card-deck">
     {{#each topValue}}
     <div class="col-sm-2 mb-3">
                    <div class="card h-100" onclick="detailItem()">
                        <div class="card-body">
                            <img src="../image/01/book-hor-11.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title mb-4">{{ProName}}</h5>
                            <p class="card-text text-center">
                                {{format Price}} đ</p>
                            <p class="card-text"></p>
                            <p class="card-text">
                                <h5 class="text-info" id='{{ProID}}'>
                                </h5>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-sm btn-outline-primary" href="/products/{{masp}}" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
    {{/each}}
  </div>
</div>

{{#section 'css'}}
<style>
 
</style>
{{/section}}

{{#section 'js'}}
  <script>
</script>
{{/section}}
<script type="text/javascript" src="../js/home.js"></script>